* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.main-top {
    width: 100%;
    height: 9rem;
    background-color: #009688;
}

.main-bottom {
    width: 100%;
    height: calc(100vh - 9rem);
    background-color: #dbdbd2;
}

.window {
    margin: 0 auto;
    width: 1536px;
    height: calc(100vh - 3rem);
    background-color: crimson;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.contacts {
    width: 540px;
    height: 100%;
    background-color: green;
}

.messages {
    width: 996px;
    height: 100%;
    background: yellow;
}